<%- include('partials/header.ejs')%>
<div id="landingSection">
    <div class="row" id="desktop">
        <div class="col heading-left">
            <h1>
                <div class="ride">
                    Ride
                </div>
                <div class="reside">
                    Reside
                </div>
                <div class="rise">
                    Rise
                </div>
            </h1>
        </div>
        <div class="col heading-right">
            <h1>
                Empowering <br>
                student <br>
                connections
            </h1>
        </div>
    </div>
    <div id="mobile">
        <h1><span>
            Ride, Reside, Rise:
        </span> Empowering student connections.</h1>
    </div>
    
</div>
<!-------------------------------------------------------------------------------->

<div id="aboutUs">
    <h1>About Us!</h1>
    <br>
    <p>
        Welcome to <b>R-Cube: Ride, Reside, Rise!</b> Here journeys become connections, homes find their residents, and opportunities unfold effortlessly. Whether you're seeking a ride, cozy accommodation, or the next career move, our platform is your gateway to seamless connections and endless possibilities in the vibrant capital of Canada. Join us in crafting stories that revolve around shared rides, welcoming homes, and exciting job opportunities, making Ottawa a place where dreams thrive and adventures unfold. 
    </p>
</div>
<div id="content" class="row">
    <div id="postsSection" class="col d-flex align-items-center">
        <div>
            <h1>
                Want to Create Your Own Post
        </h1>
        <p>
            What is it about?
        </p>

        <div class="row">
            <div class="col">
                <a  href="/accomodation">    
                    <i class="fa-solid fa-house"></i>            
                </a>
            </div>
            <div class="col">
                <a  href="/ride">
                    <i class="fa-solid fa-car-side"></i>
                </a>
            </div>
            <div class="col">
                <a  href="/jobs">
                    <i class="fa-solid fa-laptop"></i>
                </a>
            </div>
        </div>
        </div>
    </div>

<!-------------------------------------------------------------------------------->

    <div id="requestSection" class="col d-flex align-items-center">
        <div>
            <h1>Need Help With Something</h1>
            <p>
                Read about all the postings here!
            </p>
            <a href="/allPosts">All Posts!</a>
        </div>
    </div>
</div>
<script src="script/script.js"></script>
<%- include('partials/footer.ejs')%>